h1
{
    color: blanchedalmond;
    font-size: 100px;
    font-family: cursive;
    margin-left: 50px;
}
h3
{
    font-family: cursive ;
    margin-left: 50px;
    color: #fff;
}
#connexion
{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 65%;
    left: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(243, 217, 132);
    color: rgb(243, 217, 132);
    transition: 1s;
}
#connexion:hover
{
    background-color: rgb(243, 217, 132);
    border: none;
    color: black;
    padding:10px ;
    transition: 1s;
}
#login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: cursive;
  }
  
#login:hover {
    opacity: 0.8;
  }
body
{
    margin:0%;
    background-image: url(boky3.jpeg) fixed no-repeat center / cover;
}
/*Le partie manoratra le utilisateur*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* boutton retour */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /*.........................contenu...............................*/
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
    border: none;
    border-radius: 25px 25px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  .modal {
    display: none;
    position: fixed; /* tsy mihetsika */
    z-index: 1; /* mi affiche eo aloha indrindra */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* afaka scroll */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  /* cadre fi afficher-na */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% top, 15% bottom & centered */
    border: 1px solid #888;
    border-radius: 25px 25px;
    width: 80%; 
  }
  
  /* Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* affichage en zoom */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom { 
    /*Le manao zoom ref i-affiche*/
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* manova styles an span & button retout rehefa miaffiche be */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}